*.log
native_messaging_host.log
BrowserLauncher.log
BrowserLauncher.log.1
com.example.browserlauncher.json
snake.py
BrowserPathDetection.log
install_log.txt
BrowserPathDetection.log
com.example.browserlauncher.json
browser_settings.json
install_log.txt
browser_settings.json
browser_settings.json
BrowserPathDetection.log
license_generate.py
license_generate.py
wsl-manager-run*.log