body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  header h4 {
    text-align: center;
    color: #007bff;
  }
  
  .eula-container {
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
  }
  
  .eula-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .eula-actions .form-check {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .btn-primary:disabled {
    background-color: #cccccc;
  }
  
  h4 img.logo {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
  }